
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .btn-primary{
    background-color: black;
    color: white;
    width: 197px;
    height: 50px;
    padding: 10px 15px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
  }

  .text-primary{
    background-color: rgba(254, 163, 1, 1);
    color: white;
    width: 197px;
    height: 50px;
    padding: 10px 15px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
  }
  .display-flex{
    display: flex;
  }
  .nav-logo{
    width: 64px;
    height: 64px;
  }
  .logo-title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1rem;
    
  }
  .orange{
    color: rgba(254, 163, 1, 1);
  }
  .skyblue{
    color: rgba(1, 172, 253, 1) ;
    
  }
  .aqua{
    color: rgba(5, 212, 223, 1);
  }
  .blue{
    color: rgba(93, 88, 239, 1);
  }
  .bg-light{
    background-color: rgba(255, 255, 255, 1);
  }
  .black{
    background-color: black;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;   
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
  }
  .banner{
    max-width: 1158px;
    margin: o auto;
    align-items: center;
    justify-content: center;

  }
  .banner-container{
    margin-right: 50px;
    margin-left: 150px;
    width: 100%;
    height: 100%;
  }
  .banner-title{
    font-size: 3rem;
    font-weight: 700;
  }
  .banner-description{
    font-size: 1rem;
    font-weight: 500;
  }
  .humberger{
    font-size: 24px;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 280px;

  }
  .standard-curriculum{
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    max-width: 1440PX;
    padding: 50PX 20PX;

  }
  .curriculum-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
   
  }
  .Curriculum-title{
    font-size: 2.86rem;
    font-weight: 700;
  }
  .card{
     width: 367px; 
     height: 470px; 
    text-align: center;
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    /* background: linear-gradient(135deg, #f0f8ff,#ffffff); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  
      
  }
  .card-1{
    background: linear-gradient(135deg, #def5ff,#ffffff);
    
  }
  .card-2{
    background: linear-gradient(135deg, #ffe0b2, #ffffff);
   
  }
  .card-3{
    background: linear-gradient(135deg, #eee1ff, #ffffff);
  }
  .card-img{
    width: 135px;
    height: 135px;
    margin-top: 50px;
  }

  .card-title{
    font-size: 1.53rem;
    font-weight: 700;
  }
  .card-description{
    font-size: 1rem;
    font-weight: 400;
  }
  .card a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
  }
  .arrow-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .arrow-left, .arrow-right{
    background-color: orange;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    
  }
  .arrow-left:hover .arrow-right:hover{
    background-color: lightsalmon;
  }

@media screen and (max-width:576px){
  .nav-links, .text-primary, .logo-title{
    display: none;
  }
  .humberger{
    display: block;
  }
  .humberger, .nav-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .navbar{
    border: 2px solid rgba(254, 163, 1, 1);
  }
  .banner{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner-container{
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }
  .banner-title{
    font-size: 3rem;
    font-weight: 700;
  }
  .banner-description{
    font-size: 1rem;
    font-weight: 400;
  }
  .banner-img img{
    width: 100%;
    height: 100%;
  }
  .curriculum-cards{
    flex-direction: column;
    align-items: center;
  }
  .card{
    width: 90%;
  }
  .Curriculum-title{
    font-size: 1.6rem;
    font-weight: 700;
  }
}